.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-photo {
  width: 220px;
  height: 350px;
  border-radius: 30%;
  margin-bottom: 20px;
}

.github-link:hover {
  text-decoration: underline;
}
